<h1><%= @game.name %></h1>

<div class='board'>
  <%# establishes the vertical dimension of the board %>
  <% 8.downto(1) do |y| %>
    <div class='row'>
    <%# establishes the horizontal dimension of the board %>
    <% 1.upto(8) do |x| %>
      <%# on odd numbered rows, alternate between white and black, starting with white %>
      <% if y % 2 == 1 %>
        <% if x % 2 == 0 %>
          <% cell_color = "white" %>
        <% else %>
          <% cell_color = "grey" %>
        <% end %>
      <% else %>
        <%# on even numbered rows, alternate between white and black, starting with black %>
        <% if x % 2 == 0 %>
          <% cell_color = "grey" %>
        <% else %>
      <% cell_color = "white" %>
        <% end %>
      <% end %>

      <div class=<%= cell_color %> id=<%= "#{x}-#{y}" %>>


        <!-- is there a piece on this cell? -->
        <% if Piece.where("x = ? AND y = ?", x, y).any? %>

          <!-- which piece is it? -->
          <% piece = Piece.where("x = ? AND y = ? AND game_id = ?", x, y, @game.id) %>

          <!-- next two lines need work to actually target the correct piece.
          when piece is called, a collection is returned instead of an object.
          unable to call .first on piece outside of rails console.
          able to call .first, then .color, .style, etc on piece inside of rails console. -->

          <% piece_color = Piece.where("x = ? AND y = ?", x, y).first.color.downcase %>
          <% piece_type = Piece.where("x = ? AND y = ?", x, y).first.type.downcase %>

          <!-- show the image -->
          <%= image_tag("#{piece_color}_#{piece_type}", height: '90', width: '90') %>
        <% end %>
      </div>

    <% end %>
    </div>
  <% end %>
</div>
