<h1><%= @game.name %></h1>

<div class='board'>
  <%# establishes the vertical dimension of the board %>
  <% 8.downto(1) do |y| %>
    <div class='row'>
    <%# establishes the horizontal dimension of the board %>
    <% 1.upto(8) do |x| %>
      <%# on odd numbered rows, alternate between white and black, starting with white %>
      <% if y % 2 == 1 %>
        <% if x % 2 == 0 %>
          <% cell_color = "white" %>
        <% else %>
          <% cell_color = "grey" %>
        <% end %>
      <% else %>
        <%# on even numbered rows, alternate between white and black, starting with black %>
        <% if x % 2 == 0 %>
          <% cell_color = "grey" %>
        <% else %>
      <% cell_color = "white" %>
        <% end %>
      <% end %>
      <div class=<%= cell_color %> id=<%= "#{x}-#{y}" %>>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
