@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */


.hero-unit h1 {
   text-align: center;
   padding:5.6%;
 }


.hero-unit{
  margin-top: 0px;
  height: 400px;
  background-image: image-url("chessbg.jpg");
  background-position: center;
 }

.game-name {
   text-align: center;
   margin: 25px 0px;
 }

 .turn-indicator {
   text-align: center;
 }

.board {
  border: 5px solid black;
  width: 810px;
  height: 810px;
  position: relative;
  margin: 50px auto;
  padding: 0px 15px;
}

.white {
  background-color: white;
  width: 100px;
  height: 100px;
  border: 5px outset transparent;
}

.grey {
  background-color: grey;
  width: 100px;
  height: 100px;
  border: 5px outset transparent;
}

.right-console {
  margin-top: 215px;
  border-left: 1px #d3d3d3 solid;
  text-align: center;
}

.player-console {
  background-color: #d3d3d3;
  padding: 20px;
  margin-bottom: 10px;
  height: 400px;
  border-radius: 5px;
}

.captured-pieces {
  width: 275px;
  height: 160px;
  background-color: #d3d3d3;
  border: 1px #e8e8e8 solid;
  position: relative;
  margin: 0 auto 10px;
  padding: 10px;
  border-radius: 5px;
}

.highlight {
  border: 5px solid red;
}

.btn-primary a:link, .btn-primary:hover a:hover {
  color: white;
}
